.container
{
    height: 75%;

}
h2
{
    text-shadow: 2px 2px 4px #ff0000;
}
#cake
{
    font-size:100px;
}
#c1, #c2, #c3 
{
    width: 20px;
    height: 20px;
    box-shadow: 0 2.5px  rgb(200, 194, 194) ;
}
#c1{background-color: rgb(232, 58, 58);}
#c2{background-color: rgb(31, 169, 31);}
#c3{background-color: rgb(228, 228, 62);}

a
{
    color: rgba(0, 255, 204, 1);
}
a:hover 
{
    
    color: rgba(0, 255, 204, .5);
}

